.header{
    display: flex;
    justify-content: space-between;
    background-color: coral;
}
.video{
 display: grid;
 width:80px;
 margin: auto;
 height: 150px;
 grid-template-rows: 200px 200px 200px 200px;
 grid-template-columns: repeat(2, 1fr) 0px;
 gap: 20px;
 justify-content: center;

 
}
.responsivo{
    display: row;
    border-width: 3px;
    border-color:chartreuse;
    border-style: solid;
}

.legenda{
    text-align: center;
    font-size: smaller;
}